* {
  color: black;
  font-family: 'Rakkas', cursive, sans-serif;
  }

header {
  padding: 20px;
  background-color: #fcfbed;
}

h1 {
  color: #572f6b;
  font-size: 65px;
  text-align: center;
}

h2 {
  color: black;
  font-size: 25px;
  text-align: center;
}

body {
  background-color: #fcfbed;
}

/* Nav bar */

.nav {
  background-color: #572f6b;
  opacity: 0.9;
  width:100%;
  margin-bottom: 3%;
}

ul li {
  background-color: #572f6b;
}

li a {
  color: #fcfbed;
  font-size: 20px;
}

li a:hover {
  color: #cfefc6;
}


/* sub-page formatting */

h3 {
  color: black;
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5%;
}

.page_intro {
  font-size: 20px;
  text-align: justify;
  margin-top: 0;
}

.invisible-url {
  color: black;
}

/* recipe tiles */

.container {
  display: flex;
  flex-direction: row;
  /* position: relative; */
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 80%;
}

.tile {
  position: relative;
  margin: auto;
}

.overlay {
  position: absolute;
  display: none;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  cursor: pointer;
  }

  .text-overlay {
    position: relative;
    top: 20%;
    color: white;
    text-align: center;
    }

  h3.text-overlay {
    padding: 0;
    margin-bottom: 5%;
  }

  p.text-overlay {
    padding: 0;
    margin: 0;
  }

/* category cards */

.card-deck {
  margin: 18px;
}

.card-text {
  padding-top: 10px;
}

.card-body {
  background-color: #cfefc6;
  opacity: 50%;
  border-color: black;
  }

/* contact form */
form {
  margin-top: 2%;
  width: 50%;
  margin-left: 20%;
}

button {
  margin-top: 3%;
}

img {
  height: 15rem;
  width: 18rem;
}

.btn {
  background-color: #572f6b;
  border-color: #572f6b;
  color: #fcfbed;
}

.btn:hover {
  background-color: #572f6b;
  border-color: #572f6b;
  color: #fcfbed;
}

.display-4 {
  font-size: 30px;
  }

.jumbotron {
  background-color: #cfefc6;
}
