* {
  color: black;
  font-family: 'Rakkas', cursive, sans-serif;
  }

header {
  padding: 20px;
  background-color: #E1EAE7;
}

h1 {
  color: #5C2230;
  font-size: 65px;
  text-align: center;
}

h2 {
  color: black;
  font-size: 25px;
  text-align: center;
}

/* Nav bar */

.nav {
  background-color: #5C2230;
  opacity: 0.9;
  width:100%;
  margin-bottom: 3%;
}

ul li {
  background-color: #5C2230;
}

li a {
  color: #CDDCD7;
  font-size: 20px;
}

li a:hover {
  color: #CDDCD7;
}

/* Body  */

body {
  /* background-color: #CDDCD7; */
  background: url("images/manip 2.jpg");
  background-size: 600px;
}

body::after {
  /* background-color: #CDDCD7; */
  background: url("images/manip 2.jpg");
  background-size: 600px;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* sub-page headers */

h3 {
  color: black;
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3%;
}

.page_intro {
  font-size: 20px;
  text-align: justify;
}

@media (max-width: 576px) {
  .page_intro {
    font-size: 20px;
    text-align: justify
  }

  div.container {
    padding: 0;
  }
}

.invisible-url {
  color: black;
}

/* recipe tiles */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 80%;
}

.tile {
  position: relative;
  margin: auto;
  border-style: solid;
  border-width: 5px;
  border-color: #5C2230;
}

.overlay {
  position: absolute;
  display: none;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  cursor: pointer;
  }

  .text-overlay {
    position: relative;
    top: 20%;
    color: white;
    text-align: center;
    }

  h3.text-overlay {
    padding: 0;
    margin-bottom: 5%;
  }

  .soon-tile {
    position: relative;
    text-align: center;
    margin: auto;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  p.text-overlay {
    padding: 0;
    margin: 0;
  }

@media (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 80%;
  }

  .tile {
    position: relative;
    margin-top: 16px;
    margin-bottom: 4px;
  }

  .soon-tile {
    position: relative;
    margin-top: 16px;
    margin-bottom: 4px;
  }
}


/* category cards */

.card-deck {
  margin: 0 10% 2% 10%;
  }

.card-text {
  padding-top: 10px;
  }

.card-body {
  background-color: #E1EAE7;
  opacity: 50%;
  border-color: black;
  }

a:hover {
  text-decoration: none;
}

/* contact form */
form {
  padding: 2% 10% 2% 10%;
  margin-top: 3%;
  width: 50%;
  margin-left: 25%;
  background-color: #CDDCD7;
  border-radius: 10%;
}

button {
  margin-top: 3%;
  margin-left: auto;
}

@media (max-width: 576px) {
  form {
    margin: auto;
    margin-top: 5%;
    width: 50%;
  }
}

img {
  height: 15rem;
  width: 18rem;
}


.btn {
  background-color: #5C2230;
  border-color: #5C2230;
  color: #E1EAE7;
}

.btn:hover {
  background-color: #5C2230;
  border-color: #5C2230;
  color: #E1EAE7;
}

.display-4 {
  font-size: 30px;
  }

.jumbotron {
  background-color: #E1EAE7;
  border-color: #5C2230;
  padding: 3%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
}

.jumbotron p {
  font-size: 18px;
  margin-bottom: 3%;
}

@media (max-width: 576px) {
  .jumbotron p {
    font-size: 18px;
    margin-bottom: 8%;
  }
}

.about {
  background-color: #E1EAE7;
  width: 70%;
  flex-direction: row;
  align-items: center;
  margin-left: 15%;
  border-radius: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}
