* {
  color: black;
  font-family: 'Rakkas', cursive, sans-serif;
  }

header {
  padding: 20px;
  background-color: #fcfbed;
}

h1 {
  color: #572f6b;
  font-size: 65px;
  text-align: center;
}

h2 {
  color: black;
  font-size: 25px;
  text-align: center;
}

/* sub-page headers */
h3 {
  color: black;
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

/* Nav bar */

.nav {
  background-color: #572f6b;
  opacity: 0.9;
  width:100%;
}

ul li {
  background-color: #572f6b;
}

li a {
  color: #fcfbed;
  font-size: 20px;
}

li a:hover {
  color: #cfefc6;
}

body {
  background-color: #fcfbed;
}

/* recipe tiles */

.container {
  position: relative;
  width: 80%;
}

.img {
  display: block;
  width: 400px;
  height: 300px;
  /* margin-right: 20%; */
}

.overlay {
  position: relative;
  display: none;
  width: 400px;
  height: 300px;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  cursor: pointer;
  }

  .text-overlay {
    position: relative;
    top: 20%;
    color: white;
    text-align: center;
    }

  h3.text-overlay {
    padding: 0;
    margin-bottom: 5%;
  }

  p.text-overlay {
    padding: 0;
    margin: 0;
  }
